---
import { twMerge } from "tailwind-merge";

interface Props {
  justify?: boolean;
}

const { justify } = Astro.props;
---

<body
  class={twMerge(
    justify
      ? "bg-primary dark:bg-primary-dark text-zinc-900 dark:text-zinc-200 break-words leading-6 overflow-x-hidden min-h-screen flex flex-col items-center justify-between"
      : "bg-primary dark:bg-primary-dark text-zinc-900 dark:text-zinc-200 break-words leading-6 overflow-x-hidden min-h-screen"
  )}
>
  <slot />
</body>
