---
import { IoChevronForward } from "react-icons/io5/index.js";

interface Props {
  category: string;
  title: string;
}

const { category, title } = Astro.props;
const href = category === "Projects" ? "/projects" : "/blog";
---

<div class="my-4 flex items-center gap-1">
  <a
    href="/"
    class="underline underline-offset-2 hover:text-accent dark:hover:text-accent-dark decoration-accent dark:decoration-accent-dark"
    >Index</a
  >
  <IoChevronForward className="opacity-50" />
  <a
    href={href}
    class="underline underline-offset-2 hover:text-accent dark:hover:text-accent-dark decoration-accent dark:decoration-accent-dark"
    >{category}</a
  >
  <IoChevronForward className="opacity-50" />
  <span class="text-accent dark:text-accent-dark font-bold truncate"
    >{title}</span
  >
</div>
