<footer>
  <div
    class="flex items-center justify-center p-4 opacity-50 text-sm text-justify"
  >
    &copy; {new Date().getFullYear()} - In a world of ideas, sharing is the ultimate
    currency.
  </div>
</footer>
