---
import { IoLogoGithub } from "react-icons/io5";

import ThemeToggle from "./toggle-theme";
import DropdownMenu from "./dropdown-menu";

import { ROUTES, GITHUB_REPO } from "../constants";
---

<header class="sticky w-full p-3 md:p-6 z-20 backdrop-blur-md">
  <div class="mx-auto container">
    <nav class="flex items-center justify-between text-base">
      <a href="/">
        <h2 class="text-4xl">Vasko Pavic</h2>
      </a>
      <div
        class="items-center justify-end grow gap-8 text-xl hidden md:flex mr-16"
      >
        {ROUTES.map((route: any) => <a href={route.href}>{route.title}</a>)}
        <a
          class="inline-flex items-center gap-1"
          href={GITHUB_REPO}
          target="_blank"
        >
          <IoLogoGithub />
          <span>Source</span>
        </a>
      </div>
      <div class="inline-flex gap-2">
        <ThemeToggle client:load />
        <DropdownMenu client:visible routes={ROUTES} />
      </div>
    </nav>
  </div>
</header>
