---
import { IoLogoGithub } from "react-icons/io5/index.js";

import Logo from "./logo.astro";
import ThemeToggle from "./toggle-theme";
import DropdownMenu from "./dropdown-menu";

import { ROUTES, GITHUB_REPO } from "../constants";
---

<header
  class="sticky top-0 w-full p-4 md:p-6 z-20 backdrop-blur-md bg-primary/50 dark:bg-primary-dark/50"
  transition:persist
>
  <div class="mx-auto container">
    <nav class="flex items-center justify-between gap-4">
      <a href="/" aria-label="Go to homepage">
        <Logo />
      </a>
      <div
        class="items-center justify-end grow gap-8 text-xl hidden md:flex mr-16"
      >
        {ROUTES.map((route: any) => <a href={route.href}>{route.title}</a>)}
        <a
          class="inline-flex items-center gap-1"
          href={GITHUB_REPO}
          target="_blank"
        >
          <IoLogoGithub />
          <span>Source</span>
        </a>
      </div>
      <div class="flex gap-2">
        <ThemeToggle client:only="react" />
        <DropdownMenu client:visible routes={ROUTES} />
      </div>
    </nav>
  </div>
</header>
